[Desktop Entry]
Hidden=false
Exec=/run/current-system/sw/bin/supervisord -c /home/matej/.supervisord.conf
Type=Application
NoDisplay=false
Version=1.0
StartupNotify=false
Terminal=false
Name=Supervisord - matej
